<div class="header-organisation">
  <div class="header-inner">
    <!--h2 class="heading-medium">Red &amp; White &amp; Blue &amp; Green Holdings Ltd</h2-->
    <nav id="global-nav" class="global-nav">
      <ul id="global-nav-links">
        <li class="home-nav" ><a href="home">Home</a></li>
        <li class="finance-nav"><a href="finance">Finance</a></li>
        <li class="people-nav"><a href="apprentices">Apprentices</a></li>
        <li class="team-nav"><a href="your-team">Your team</a></li>
        <li class="team-nav"><a href="#">Your organisations and agreements</a></li>
        <li class="paye-schemes"><a href="#">PAYE schemes</a></li>
        <!--li class="top_nav looks-like-a-link-underline" style="padding: 12px 15px 10px;">Organisations</li-->
        <!--li ><a href="/sprint//account/paye/index">PAYE schemes</a></li-->
      </ul>
    </nav>
  </div>
</div>
