
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create an account to manage apprenticeships</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">You need to create or <a href="#">sign in</a> to an apprenticeship account, then you'll be able to get funding to pay for apprenticeship training and assessment costs.</p>
        <p class="govuk-body">You'll use your account to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>get apprenticeship funding</li>
          <li>find and save apprenticeships</li>
          <li>find, save and manage training providers</li>
          <li>recruit apprentices</li>
          <li>add and manage apprentices</li>
          </ul>

          <a  href="enter-details" class="govuk-button govuk-button--start">
            Create account
          </a>

      </div>

      <div class="govuk-grid-column-one-third">

        <!-- Start of esfa Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1b1ce288-39ea-4d40-a5e1-3a5e08aadd89"> </script>
<!-- End of esfa Zendesk Widget script -->

      </div>

  </main>
</div>




{% endblock %}
