{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add an apprentice or change their status</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">To <a href="#">add apprentices to your organisation’s apprenticeship service account</a> you’ll need:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the apprentice’s name, date of birth and unique learner number (ULN)</li>
            <li>the start and end date of the apprenticeship</li>
            <li>the total training and assessment cost</li>
            <li>your training provider’s UK Provider Reference Number (UKPRN)</li>
              </ul>

          <p class ="govuk-body">If you need to add multiple apprentices you can upload their details together.</p>

              <h3 class="govuk-heading-m">Change details</h3>
              <p class="govuk-body">You can <a href="#">change your apprentices details</a> in your apprenticeship service account. This includes their name, date of birth and training dates.</p>
                <p>Your training provider must also record any changes in their ILR submission.</p>

                <h3 class="govuk-heading-m">Change an apprenticeship status</h3>
                <p class="govuk-body">You can pause an apprenticeship to:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>record a break in learning as agreed with the training provider</li>
                  <li>freeze future payments to a training provider for a period of time</li>
                  </ul>

                  <p class="govuk-body">You can stop an apprenticeship to:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>change your training provider during the course</li>
                    <li>cancel all future payments</li>
                    </ul>

                    <div class="govuk-inset-text">Do not stop a completed apprenticeship.</div>

              <h3 class="govuk-heading-m">Give your training provider access</h3>
              <p class="govuk-body">Each apprentice needs an <a href="#">approved training provider</a> to deliver their training.</p>
              <p class="govuk-body">You can give your training provider permission to add apprentices to your organisation and set up payments. You’ll need to <a href="#">sign an agreement</a> and approve any information they give to us.</p>





      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
