{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add PAYE schemes to your account</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You need to <a href="#">add PAYE schemes</a> to your apprenticeship service account for your company or connected companies. We’ll use these PAYE schemes to work out your apprenticeship service funds.</p>

        <p class="govuk-body">If your company or any of its connected companies use different PAYE schemes, you can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>use one account with all of the PAYE schemes</li>
          <li>have a separate account for each PAYE scheme</li>
          </ul>

          <p class="govuk-body">You cannot add a single PAYE scheme to more than one account.</p>
          <p class="govuk-body">If you remove your PAYE schemes you will not be able to use any apprenticeship service funds in your account.</p>



      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
