{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apprenticeship funding</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You can get help from the government to pay for apprenticeship training. The amount you get depends on whether you pay the apprenticeship levy.</p>
        <p class="govuk-body">This information is for apprenticeship funding in England. There are different rules for apprentices in Scotland, Wales and Northern Ireland.</p>

        <h3 class="govuk-heading-m">The apprenticeship levy</h3>
        <p class="govuk-body">Employers with an annual pay bill over £3 million must <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">report and pay the apprenticeship levy</a> through the PAYE process.</p>
        <p class="govuk-body">The levy only applies to apprenticeships that started after 1 May 2017.</p>

        <h3 class="govuk-heading-m">Co-investment</h3>
        <p class="govuk-body">If you don’t have enough funds to make a monthly training payment, you can share the remaining cost with the government. This is called ‘co-investment’.</p>
        <p class="govuk-body">You’ll need to pay 5% of the balance for that month and the government will pay the other 95% up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">maximum funding band</a>.</p>

        <h3 class="govuk-heading-m">Get an apprenticeship service account</h3>
        <p class="govuk-body">Levy-paying employers need an apprenticeship service account to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>receive their levy funds</li>
          <li>manage their apprentices</li>
          <li>pay a training provider</li>
          <li>stop or pause payments to a training provider</li>
            </ul>

        <p class="govuk-body">If you do not pay the levy, you can only use an account to receive a transfer from a levy-paying employer.</p>

        <h3 class="govuk-heading-m">Use your apprenticeship funds</h3>
        <p class="govuk-body">To get funding for an apprenticeship, the apprentice must work in England for at least 50% of their time.</p>
        <p class="govuk-body">Use your apprenticeship funds (up to the maximum apprenticeship funding band) to pay for an apprentice’s training and assessment.</p>
        <p class="govuk-body">You cannot use these funds to pay for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>wages</li>
          <li>statutory licences to practise</li>
          <li>travel and subsidiary costs</li>
          <li>work placement programmes</li>
          <li>setting up an apprenticeship programme</li>
            </ul>

            <p class="govuk-body">If the training and assessment cost more than the funding band maximum, you must pay the difference with your own funds.</p>
             <p class="govuk-body"><a href="https://www.gov.uk/guidance/apprenticeship-funding-rules">Check the apprenticeship funding rules</a> to see what you can use apprenticeship funds for.</p>

             <h3 class="govuk-heading-m">Employees living in England</h3>
             <p class="govuk-body">The levy credit you get depends on your ‘English percentage’. HMRC work it out using the:</p>
             <ul class="govuk-list govuk-list--bullet">
               <li>number of your employees that live in England</li>
               <li>amount of your pay bill that is paid to employees that live in England</li>
                 </ul>

                 <p class="govuk-body">You can <a href="#">view your English percentage</a> in your apprenticeship service account.</p>

                 <h3 class="govuk-heading-m">How it works</h3>

                 <ol class="govuk-list govuk-list--number govuk-!-font-weight-bold">
                   <li><p class="govuk-body govuk-!-font-weight-bold">Select an apprenticeship type</p>
                     <p class="govuk-body">‘Standards’ cover a specific job role and set out the core skills, knowledge and behaviours an apprentice needs. You’ll also need an <a href="https://www.gov.uk/government/collections/apprenticeship-end-point-assessments-rules-and-guidance">end point assessor</a>.</p>
                     <p class="govuk-body">‘Frameworks’ include work-related vocational and professional qualifications, with workplace and classroom training.</p>
                     <p class="govuk-body">We’re withdrawing frameworks. Apprentices cannot start a framework after 31 July 2020.</p>
                   </li>
                   <li><p class="govuk-body govuk-!-font-weight-bold">Choose a training provider</p>
                     <p class="govuk-body"><a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/Apprenticeship/SearchForStandardProviders?standardId=128">Choose an approved training provider</a> to deliver each of your apprentice’s training.</p>
                   </li>
                   <li><p class="govuk-body govuk-!-font-weight-bold">Agree the cost</p>
                     <p class="govuk-body">You must agree the total cost for an apprenticeship with your training provider, including the training and assessment. For standard apprenticeships, you must must also include the end-point assessment cost.</p>
                     </li>
                     <li><p class="govuk-body govuk-!-font-weight-bold">Use your levy funds</p>
                       <p class="govuk-body">The apprenticeship funds will enter your account after you declare the levy each month. Funds will leave your account when you pay your training provider.</p>
                       </li>
                       </ol>




      </div>

  </main>
</div>




{% endblock %}
