{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Co-investment</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Co-investment is when employers share the cost of training and assessing apprentices with the government.</p>

          <p class="govuk-body">Your organisation may need to pay some of the cost, but the government will pay the rest up to the funding band maximum. If the apprenticeship started:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>after 1 April 2019, your organisation must pay 5%</li>
            <li>before 1 April 2019, your organisation must pay 10%</li>
              </ul>

              <h3 class="govuk-heading-m">Levy-paying employers</h3>
              <p class="govuk-body">Your account will automatically go into co-investment if you do not have enough apprenticeship funds to pay for training.</p>
                <p class="govuk-body">You cannot carry apprenticeship costs into the next month.</p>

                <h3 class="govuk-heading-m">Non-levy employers</h3>
                <p class="govuk-body">If your organisation does not pay the levy, then it always co-invests with the government. The maximum amount of apprenticeship training your organisation will pay for is 5% of the total cost.</p>

                <h3 class="govuk-heading-m">Extra funding</h3>
                  <p class="govuk-body">Your organisation could also get <a href="https://www.gov.uk/government/publications/apprenticeship-funding">extra funding</a>.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
