{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Invite team members to your account</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You can <a href="#">invite team members</a> to access your organisation's apprenticeship service account.</p>

        <p class="govuk-body">There are 3 different levels of access you can give your team members after they set up their own account. They can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view information but not make any changes</li>
          <li>add apprentices and view information</li>
          <li>have full access to your account</li>
          </ul>

          <p class="govuk-body">You should give at least one other team member full access. This means that if the account owner is on holiday or leaves the organisation, someone else can sign an agreement or make changes.</p>
          <p class="govuk-body">You can change or remove access levels after you invite team members.</p>

          <h3 class="govuk-heading-m">Someone with full access has left the organisation</h3>
          <p class="govuk-body">If someone else in your organisation has full access to the account, they can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>invite new team members</li>
            <li>change the access levels of existing team members</li>
            </ul>
            <p class="govuk-body"><a href="#">Contact us</a> if nobody in your organisation has full access to the account</p>


          <h3 class="govuk-heading-m">Give your training provider permission</h3>
          <p class="govuk-body">You can give your training provider permission to add apprentices and set up payments. You’ll need to approve any information they give to us.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
