
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    <a href="/0-1-0/help-results" class="govuk-back-link">Back</a>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Managing cohorts and apprentices</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">When you add apprentices to your organisation’s apprenticeship service account they’ll go into to a new or existing cohort. You’ll need to approve this cohort after you’ve checked:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>it has the correct apprentices</li>
          <li>the details are what you agreed with your training provider</li>
          <li>the training and assessment costs are correct</li>
          <li>that you can pay the difference from your own budget if it costs more than the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding band maximum</a></li>
          </ul>

          <h3 class="govuk-heading-m">Change your apprentice's details</h3>
          <p class="govuk-body">You can make changes before the apprenticeship starts or before you approve the cohort with your training provider. After the apprenticeship starts, you can only change the:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>apprentice's name and date of birth</li>
            <li>training costs in the first month</li>
            </ul>
            <p class="govuk-body">If your apprentice wants to change their apprenticeship, you’ll need to stop the current apprenticeship and start a new one.</p>
            <p class="govuk-body">Both you and your training provider must approve any changes.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
