{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Public sector apprenticeship target</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Public sector bodies with at least 250 staff in England have an annual apprenticeship target to meet. This target is to employ at least 2.3% of their staff as new apprentices each year until 2021.</p>

          <p class="govuk-body">Public sector bodies include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>schools and academy trusts</li>
            <li>local authorities</li>
            <li>central government and arm’s length bodies</li>
            <li>NHS organisations</li>
            <li>the armed forces</li>
            <li>emergency services</li>
            <li>any other body that may be in scope of the target</li>
              </ul>

              <div class="govuk-inset-text">
                You must <a href="#">use the public sector reporting tool</a> to report your annual progress by 30 September.</div>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
