{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Register for an account if you use an external payroll agent or bureau</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Organisation’s that use an external agent or bureau to run their payroll can <a href="#">register for an apprenticeship service account</a>.</p>

          <p class ="govuk-body">You’ll need your organisation’s Government Gateway account sign in details. If your organisation does not have a Government Gateway account, we’ll ask you to create one.</p>

          <p class="govuk-body">You must not use your payroll agent’s sign in details.</p>
          <p class="govuk-body">Registering for an account will not affect your payroll agent or bureau’s access.</p>


      </div>

      <div class="govuk-grid-column-one-third">


      </div>

  </main>
</div>




{% endblock %}
