{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Register for an apprenticeship service account</h1>

          <p class ="govuk-body">You need to <a href="https://accounts.manage-apprenticeships.service.gov.uk/service/index">register for an apprenticeship service account</a> if you’re:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a levy-paying employer</li>
            <li>an employer receiving a transfer</li>
            </ul>


            <p class="govuk-body">You’ll need the sign in details for your organisation’s Government Gateway account. You can <a href="https://www.access.service.gov.uk/registration/email">create an account</a> if your organisation does not have one.</p>
            <p class="govuk-body">Do not use your payroll agent's sign in details</p>
            <p class="govuk-body">You must connect your account with every organisation that will make an agreement with your training provider. You can also give your employees different levels of access.</p>

              <h3 class="govuk-heading-m">Levy-paying employers</h3>
              <p class="govuk-body">As a levy-paying employer you can use your account to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>sign your ESFA employer agreement</li>
                <li>add PAYE schemes for apprenticeship funding</li>
                <li>add your organisations contracts with training providers </li>
                <li>invite your employees to join the account</li>
                <li>add apprentices (you can get your training provider to do this)</li>
                <li>search for apprenticeships and approved training providers</li>
                <li>manage and view your transactions</li>
                <li>transfer unused annual funds to other employers</li>
                  </ul>


              <h3 class="govuk-heading-m">Non-levy employers</h3>
              <p class="govuk-body">You must only register for an apprenticeship service account if you are receiving a transfer. Agree the transfer details with the transferring employer before you register for an account.</p>
              <p class="govuk-body">As an employer receiving a transfer you can use your account to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>sign your ESFA employer agreement</li>
                <li>add apprentices (you can get your training provider to do this)</li>
                <li>invite your employees to join the account</li>
                <li>manage and view your transactions</li>
                </ul>

              <p class="govuk-body">You can only add apprentices funded by a transfer to your account.</p>


      </div>



      <div class="govuk-grid-column-one-third">

      </div>

  </main>
</div>




{% endblock %}
