{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Report your progress on the apprenticeship target</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Public sector bodies with at least 250 staff in England must report on the apprenticeship target in the ‘apprentices’ section of their account. The target is to employ at least 2.3% of their staff as new apprentices each year until March 2021.</p>

          <p class ="govuk-body">Public sector bodies are:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>schools and academy trusts</li>
            <li>local authorities</li>
            <li>central government and arm's length bodies</li>
            <li>NHS organisations</li>
            <li>the armed forces</li>
            <li>emergency services</li>
            </ul>

          <p class="govuk-body">You must report your annual progress by 30 September each year.</p>


      </div>

      <div class="govuk-grid-column-one-third">


      </div>

  </main>
</div>




{% endblock %}
