{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Reserve and approve funding</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">You can use apprenticeship funding to pay for the entire cost of training an apprentice (up to the funding band maximum) or just part of it.</p>


          <p class ="govuk-body"><a href="#">Check if you need to pay towards the cost of training your apprentice</a>./p>
            <p class="govuk-body">You must reserve funding before you can add a new apprentice to your apprenticeship service account. We will then pay the training provider directly.</p>
            <p class="govuk-body">The earliest you can reserve funding is 6 months before the apprenticeship training start date. The apprentice can start their apprenticeship training anytime in the month you choose, or the following 2 months.</p>

              <h3 class="govuk-heading-m">What you'll need</h3>
              <p class="govuk-body">You can only <a href="#">reserve funding</a> for one apprentice at a time. You’ll need the apprentice’s start date and training course details. </p>

              <h3 class="govuk-heading-m">Making changes</h3>
              <p class="govuk-body">You can <a href="#">make changes to the apprenticeship training</a> without reserving new funding.</p>
              <p class="govuk-body">If you need to change the apprenticeship start date by more than 3 months, you’ll need to reserve new funding.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
