{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Set up as a user</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Everyone that will use your organisation’s apprenticeship service account must set up their own sign in details. They must not share these details.</p>
          <p class="govuk-body">You’ll set up your sign in details with your name, email address and a password. You must also accept the terms and conditions.</p>
          <p class="govuk-body">We’ll send you a verification code by email. You’ll need to enter this to confirm your identity.</p>
          <p class="govuk-body">If you did not receive a verification code, check:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your junk email</li>
            <li>that you entered the right email address</li>
          </ul>

          <p class="govuk-body">You can request a new verification code if you entered the wrong email address or did not receive one.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
