{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add PAYE schemes to your account</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You need to <a href="#">add PAYE schemes</a> to your apprenticeship service account for your company or connected companies.</p>

        <p class="govuk-body">If your company or any of its connected companies use different PAYE schemes, you can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>use one account with all of the PAYE schemes</li>
          <li>have a separate account for each PAYE scheme</li>
          </ul>

          <p class="govuk-body">You cannot add a single PAYE scheme to more than one account.</p>
          <p class="govuk-body">If you remove your PAYE schemes you will not be able to use any apprenticeship service funds in your account.</p>

          <p class="govuk-body">You can add your PAYE schemes to your apprenticeship service account using either your:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Government Gateway sign in details</li>
            <li>accounts office reference number and employer PAYE reference number</li>
            </ul>

            <h3 class="govuk-heading-m">Where to find your PAYE reference numbers</h3>
            <p class="govuk-body">Your accounts office reference number and employer PAYE reference numbers are on the:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>letter HMRC sent you when you first registered as an employer</li>
              <li>front of your payment booklet (or the letter from HMRC that replaced it)</li>
              </ul>
              <p class="govuk-body">The accounts office reference number is 13 characters. The employer PAYE reference number is 11 characters.</p>



      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
