{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Pause or stop an apprenticeship</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You can only pause or stop an apprenticeship if you have one of the following types of permission in the organisation’s apprenticeship account:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>able to make changes</li>
        <li>full access</li>
        </ul>

        <h3 class="govuk-heading-m">Pausing an apprenticeship</h3>
        <p class="govuk-body">You should pause an apprenticeship when you need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>record a break in learning</li>
          <li>freeze future payments to a training provider for a period of time</li>
          </ul>

          <p class="govuk-body">If you pause an apprenticeship incorrectly, we will backdate any payments to your training provider. You must cancel the pause and the training provider must submit their Individualised Learner Record (ILR).</p>


          <h3 class="govuk-heading-m">Stopping an apprenticeship</h3>
          <p class="govuk-body">You should stop an apprenticeship when you need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>change the training provider during the course</li>
            <li>change the employer during the course</li>
            <li>cancel the apprenticeship</li>
            <li>cancel all future payments</li>
            </ul>

          <p class="govuk-body">The training provider must also record any changes in their ILR.</p>
          <p class="govuk-body">You must not stop an apprenticeship that is completed.</p>
      </div>

      <div class="govuk-grid-column-one-third">

      </div>

  </main>
</div>




{% endblock %}
