{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Paying your training provider</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">We’ll pay your training provider the agreed cost of the apprenticeship, up to the funding band maximum. The training provider will get:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>80% of the cost in equal monthly payments throughout the apprenticeship</li>
        <li>the final 20% when the apprentice completes their apprenticeship </li>
        </ul>

        <p class="govuk-body">Your training schedule does not affect when payments are made or the payment amount. For example, if your apprentice’s training schedule changes or you have seasonal workers.</p>

        <h3 class="govuk-heading-m">Check your transactions</h3>
        <p class="govuk-body">In the finance section of your apprenticeship service account, you can check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#">committed spending</a></li>
          <li><a href="#">transaction history</a></li>
          <li><a href="#">funds that will expire</a></li>
          </ul>

          <p class="govuk-body">You can also download your financial information. <a href="#">Contact us</a> if there is a problem with your transactions.</p>


          <h3 class="govuk-heading-m">Forecast your apprenticeship funds</h3>
          <p class="govuk-body">You can <a href="#">work out how much you can spend on apprenticeships</a> over the next 4 years. You'll need to know your average monthly payroll.</p>

          <p class="govuk-body">This can help you manage payments and your budget.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
