{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Transfer apprenticeship funds</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Levy-paying employers can transfer up to 25% of their annual apprenticeship funds to other employers. This can help other businesses pay for their apprenticeships.</p>


              <h3 class="govuk-heading-m">Who can receive funds</h3>
              <p class="govuk-body">You can transfer funds to any levy or non-levy paying employer, including apprenticeship training agencies (ATA). You cannot receive a transfer if you’ve already sent one in the same tax year.</p>
              <p class="govuk-body">You can view your transfer allowance in your apprenticeship service account. The amount is calculated using your total declared levy from the previous tax year, with the English percentage and government top-up.</p>


              <h3 class="govuk-heading-m">How to transfer your funds</h3>
              <p class="govuk-body">Your apprenticeship funds expire if you don’t spend or transfer them within 2 years. When you transfer funds, the receiving employer has another 2 years before the funds expire.</p>
              <p class="govuk-body">When you’ve chosen an employer to transfer your funds to, you need to connect your apprenticeship service accounts. You must send the connection invite.</p>
              <p class="govuk-body">You'll need to agree the cost, apprenticeship standard and number of apprentices with the employer. Once you have signed an ESFA Apprenticeship Employer Agreement, you can transfer the funds from your apprenticeship service account.</p>


              <h3 class="govuk-heading-m">Connect your accounts</h3>
              <p class="govuk-body">The employer receiving the funds must share their account ID with the sending employer. They can find it under the company name in their apprenticeship service account.</p>
              <p class="govuk-body">After you connect accounts, the receiving employer can add apprentices. We will send information about the cost, standard and number of apprentices to the sending employer for final approval. We will not share any personal details.</p>
              <h3 class="govuk-heading-m">Make a transfer</h3>
              <p class="govuk-body">After the training provider submits their apprenticeship data, payments are made automatically every month. You can view the transactions in the finance section of your account.</p>
              <p class="govuk-body">The sending employer cannot stop transferring the funds before the apprenticeship ends. Funds will continue to transfer unless:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>the apprenticeship finishes</li>
                <li>the receiving employer stops the transfer</li>
                <li>there are not enough funds in the account</li>
                  </ul>

                  <p class="govuk-body">Transferred funds will also be the first funds to come out of a sending employer’s account each month. So it is important that the account has enough funds to support it and any other financial commitments.</p>
                  <p class="govuk-body">When the transfer is complete the sending employer is not responsible for the apprenticeship.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
