{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add a training provider</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">The employer will enter your information when they add an apprentice. They should not add any training provider as a connected organisation.</p>
      <p class="govuk-body">You’ll need to give the employer your <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/Apprenticeship/SearchForStandardProviders?standardId=128">UK provider reference number (UKPRN)</a>.</p>
      <p class="govuk-body">The employer can <a href="#">set training provider permissions</a> when they add you to their apprenticeship service account.</p>

      </div>

  </main>
</div>




{% endblock %}
