{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add an apprentice or change their status</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">To add apprentices to an employer's apprenticeship service account you’ll need the:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>employer to <a href="#">set training provider permissions</a></li>
            <li>apprentice’s name, date of birth and unique learner number (ULN)</li>
            <li>start and end date of the apprenticeship</li>
            <li>total training and assessment cost</li>
              </ul>

          <p class ="govuk-body">If you need to add multiple apprentices you can upload their details together.</p>

              <h3 class="govuk-heading-m">Change details</h3>
              <p class="govuk-body">You can change apprentices details in the apprenticeship service account. This includes their name, date of birth and training dates.</p>
                <p>The employer must approve any changes you make and you must also record them in the individualised learner record (ILR).</p>

            

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
