{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apprenticeship funding</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Employers can get apprenticeship funding to help pay for apprenticeship training.</p>
        <p class="govuk-body">This information is for apprenticeship funding in England. There are different arrangements for apprentices in Scotland, Wales and Northern Ireland.</p>

        <h3 class="govuk-heading-m">The apprenticeship levy</h3>
        <p class="govuk-body">From 6 April 2017, employers with an annual pay bill over £3 million must <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">report and pay the apprenticeship levy</a> through the PAYE process.</p>

        <h3 class="govuk-heading-m">Co-investment</h3>
        <p class="govuk-body">If employers do not have enough funds to make a monthly training payment, they can share the remaining cost with the government. This is called ‘co-investment’.</p>
        <p class="govuk-body">Employers will need to pay 5% (10% for apprenticeships that started before 1 April 2019) of the balance for that month and the government will pay 95% up to the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-bands">funding band maximum</a>.</p>

        <h3 class="govuk-heading-m">Get an apprenticeship service account</h3>
        <p class="govuk-body">Levy-paying employers need an apprenticeship service account to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>receive their levy funds</li>
          <li>manage their apprentices</li>
          <li>pay a training provider</li>
          <li>stop or pause payments to a training provider</li>
            </ul>

        <p class="govuk-body">If employers do not pay the levy, they can only create an account to receive a transfer from a levy-paying employer.</p>

        <h3 class="govuk-heading-m">Use apprenticeship funds</h3>
        <p class="govuk-body">To get funding for an apprenticeship, the apprentice must work in England for at least 50% of their time.</p>
        <p class="govuk-body">Use apprenticeship funds (up to the funding band maximum) to pay for an apprentice’s training and assessment.</p>
        <p class="govuk-body">Employers cannot use these funds to pay for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>wages</li>
          <li>statutory licences to practise</li>
          <li>travel and subsidiary costs</li>
          <li>work placement programmes</li>
          <li>setting up an apprenticeship programme</li>
            </ul>

            <p class="govuk-body">If the training and assessment cost more than the funding band maximum, the employer must pay the difference.</p>
             <p class="govuk-body"><a href="https://www.gov.uk/guidance/apprenticeship-funding-rules">View the apprenticeship funding rules</a> to see everything employers can use apprenticeship funds for.</p>

             <h3 class="govuk-heading-m">Employees living in England</h3>
             <p class="govuk-body">The amount of apprenticeship funds in the account depends on the employer's ‘English percentage’. HM Revenue and Customs (HMRC) use the following information to work it out:</p>
             <ul class="govuk-list govuk-list--bullet">
               <li>how many employees live in England</li>
               <li>how much of the pay bill is paid to them</li>
                 </ul>

                 <p class="govuk-body">Employers can view their English percentage in the apprenticeship service account.</p>

                 <h3 class="govuk-heading-m">How it works</h3>

                 <ol class="govuk-list govuk-list--number govuk-!-font-weight-bold">
                   <li><p class="govuk-body govuk-!-font-weight-bold">Select an apprenticeship type</p>
                     <p class="govuk-body">‘Standards’ cover a specific occupation and set out the core skills, knowledge and behaviours an apprentice needs. They also need an <a href="https://www.gov.uk/government/collections/apprenticeship-end-point-assessments-rules-and-guidance">end point assessment organisation</a>.</p>
                     <p class="govuk-body">‘Frameworks’ include work-related vocational and professional qualifications, with workplace and classroom training.</p>
                     <p class="govuk-body">We’re withdrawing frameworks. Apprentices cannot start a framework after 31 July 2020.</p>
                   </li>
                   <li><p class="govuk-body govuk-!-font-weight-bold">Choose a training provider</p>
                     <p class="govuk-body"><a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/Apprenticeship/SearchForStandardProviders?standardId=128">Choose an approved training provider</a> to deliver apprenticeship training.</p>
                   </li>
                   <li><p class="govuk-body govuk-!-font-weight-bold">Agree the cost</p>
                     <p class="govuk-body">Employers must agree the total cost for an apprenticeship with their training provider, which includes training and assessment costs. For apprenticeship standards, they must also agree the end-point assessment cost with an end-point assessment organisation.</p>
                     </li>
                     <li><p class="govuk-body govuk-!-font-weight-bold">Use apprenticeship service funds</p>
                       <p class="govuk-body">Apprenticeship funds will enter the employer's account each month after they declare the levy to HMRC. Funds will leave the account when they pay their training provider.</p>
                       </li>
                       </ol>




      </div>

  </main>
</div>




{% endblock %}
