{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Types of apprenticeships</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">There are 2 different types of apprenticeships: frameworks and standards. They cover a wide range of jobs across many industries.</p>

          <h3 class="govuk-heading-m">Apprenticeship frameworks</h3>
          <p class="govuk-body">Apprenticeship frameworks are work-related and professional qualifications. Frameworks do not have an end-point assessment.</p>
          <p class="govuk-body">We are phasing frameworks out. The last date for new starts for all remaining live apprenticeship frameworks is 31 July 2020. All apprenticeships from 1 August 2020 will be on apprenticeship standards.</p>

          <h3 class="govuk-heading-m">Apprenticeship standards</h3>
          <p class="govuk-body">Apprenticeship standards show what an apprentice will do and the skills required of them, by job role. The <a href="#">Institute for Apprenticeships and Technical Education</a> review and approve apprenticeship standards.</p>
          <p class="govuk-body">Each standard has been developed by a group of employers and sets out the core skills, knowledge and behaviours an apprentice will need for a specific occupation. Apprentices must pass an end-point assessment before completing their apprenticeship.</p>

          <h3 class="govuk-heading-m">Choosing an apprenticeship standard</h3>
          <p class="govuk-body">There are different apprenticeship standards for a job role. <a href="#">Find information about different apprenticeship standards</a>.</p>
          <p class="govuk-body">Employers can only select a standard that is ‘approved’ by the institute. Not all industries have approved standards yet.</p>
          <p class="govuk-body">If there is no standard for your apprenticeship, you cannot get government funding for it.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
