
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Change apprentice details</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">The employer must <a href="#">set training provider permissions</a> before you can change apprentice details in the apprenticeship service account.</p>

        <p class="govuk-body">You can change the apprentice's name, date of birth and training information. The employer must approve any changes</p>



<!--Warning-->


          <p class="govuk-body">You must also record the pause or stop on the individualised learner record (ILR).</p>
          <p class="govuk-body">After the employer makes their final apprenticeship payment, the apprentice will show as ‘completed’ in the apprenticeship service account.</p>

          <h3 class="govuk-heading-m">Change an apprentice’s course details</h3>
          <p class="govuk-body">You can change an apprentice’s course details before the course starts. This includes the course name, type of apprenticeship, start date and planned end date.</p>
          <p class="govuk-body">If you need to change an apprentice’s course name after the course has started, you must:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>stop the apprenticeship and backdate to the start date</li>
            <li>update the ILR</li>
            <li>start a new apprenticeship with the correct details</li>
            </ul>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>
      </div>
  </main>
</div>




{% endblock %}
