{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Co-investment</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Co-investment is when employers share the cost of training and assessing apprentices with the government.</p>

          <p class="govuk-body">The employer may need to pay some of the cost, but the government will pay the rest up to the funding band maximum. If the apprenticeship started:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>after 1 April 2019, the employer must pay 5%</li>
            <li>before 1 April 2019, the employer must pay 10%</li>
              </ul>

              <h3 class="govuk-heading-m">Levy-paying employers</h3>
              <p class="govuk-body">The account will automatically go into co-investment if theey do not have enough apprenticeship funds to pay for training and assessment.</p>
                <p class="govuk-body">Employers cannot carry apprenticeship costs into the next month.</p>

                <h3 class="govuk-heading-m">Employers that do not pay the levy</h3>
                <p class="govuk-body">If the employer does not pay the levy, then it always co-invests with the government. The maximum amount the organisation will pay for apprenticeships that started:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>after 1 April 2019 is 5% of the total cost</li>
                  <li>before 1 April 2019 is 10% of the total cost</li>
                    </ul>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
