{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Connected organisations</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-inset-text">Make sure the employer does not add you as a connected organisation to their apprenticeship service account.</div>

      <p class="govuk-body">Organisations are connected if they are owned by the same person, or if one organisation owns the other. The employer should contact HM Revenue and Customs to check if their organisations are connected.</p>

      <p class="govuk-body">Employers must add each connected organisation that will contract with their training providers. They also need to sign an agreement to allow them to spend funds.</p>



      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
