
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Data locks</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<!--Overview-->
<p class="govuk-body">A data lock happens when the information the employer gives about their apprentices is different to your individualised learner record (ILR).</p>
<p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
<p class="govuk-body">The employer can make changes in their apprenticeship service account before you approve the information. If they can view the information in the account then it has not been approved.</p>
<p class="govuk-body">If you’ve approved the information, check that you and the employer entered the correct information.</p>
<p class="govuk-body">If you gave any incorrect information, you must change the ILR then upload it again.</p>
<p class="govuk-body">If the employer gave incorrect information, they can only make changes if the apprenticeship started in this academic year. They need to stop the apprenticeship back to the start date, then start a new apprenticeship with the correct information.</p>
<p class="govuk-body"><a href="#">Contact us</a> if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the apprenticeship started in a previous academic year</li>
  <li>you and the employer entered the correct information</li>
    </ul>


<!--Accordion-->

<div class="govuk-accordion" data-module="accordion" id="accordion-with-summary-sections">

<!--Data lock 01-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          Data lock 01
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
      <p class="govuk-body">You and the employer used a different UK provider reference number (UKPRN).</p>
    </div>
  </div>

  <!--Data lock 02-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          Data lock 02
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">

      <p class="govuk-body">You and the employer used a different unique learner number (ULN).</p>
    </div>
  </div>

  <!--Data lock 03-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Data lock 03
        </span>
      </h2>

    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">

      <p class="govuk-body">You and the employer used a different standard code.</p>
    </div>
  </div>

  <!--Data lock 04-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
          Data lock 04
        </span>
      </h2>

    </div>
    <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">

      <p class="govuk-body">You and the employer used a different framework code.</p>
    </div>
  </div>

<!--Data lock 05-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 05
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You and the employer used a different programme type code.</p>
  </div>
</div>

<!--Data lock 06-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 06
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You and the employer used a different pathway code.</p>
  </div>
</div>
<!--Data lock 07-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 07
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You and the employer used a different cost of training and assessment.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body">Find out which is the incorrect cost. If the ILR cost is wrong you need to change it.</p>
    <p class="govuk-body">The employer can change an incorrect cost in their apprenticeship service account. They’ll also need to add any costs that change during the apprenticeship.
</p>
    <p class="govuk-body"><a href="#">Contact us</a> if both costs are correct.</p>
  </div>
</div>

<!--Data lock 08-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 08
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body"><a href="#">Contact us</a> to fix this issue. You’ll need the unique learner numbers (ULNs) and UK provider reference numbers (UKPRNs) for all apprentices with a data lock 08.</p>
  </div>
</div>

<!--Data lock 09-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 09
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">The start date for the cost of training and assessment is before the start date in the apprenticeship service account.</p>
  </div>
</div>

<!--Data lock 10-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 10
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">The employer stopped payments for this apprentice.</p>
  </div>
</div>

<!--Data lock 11-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 11
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">The employer does not pay the levy.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body"><a href="#">Contact us</a> if the apprenticeship started after the employer declared the levy.
  </div>
</div>

<!--Data lock 12-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 12
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">The employer paused payments for this apprentice.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body">The employer can <a href="#">start payments again</a>.</p>
  </div>
</div>

<!--Div-->
</div>
      </div>


<!--Contact us panel-->
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
