{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Paying training providers</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">We’ll pay training providers the agreed cost of the apprenticeship, up to the funding band maximum. The training provider will get:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>80% of the cost in equal monthly payments throughout the apprenticeship</li>
        <li>the final 20% when the apprentice completes their apprenticeship </li>
        </ul>

        <p class="govuk-body">The training provider will receive apprenticeship service funds in equal monthly payments - the training schedule will not affect when payments are made or the payment amount.</p>



      </div>

  </main>
</div>




{% endblock %}
