{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Planned end dates</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">For apprenticeship standards starting from August 2019, the training provider and the employer need to enter different planned end dates.</p>

          <h3 class="govuk-heading-m">The training provider</h3>
          <p class ="govuk-body">The training provider must enter the date that they and the apprentice plan to complete the training that relates to the learning aim in the individualised learner record (ILR). This does not include the apprentice’s time with an end-point assessment organisation.</p>
            <p class="govuk-body">Enter the date in the format YYYY-MM-DD.</p>

              <h3 class="govuk-heading-m">The employer</h3>
              <p class="govuk-body">The employer must enter the planned end date for the whole apprenticeship in the apprenticeship service, including the end-point assessment period.</p>
              <p class="govuk-body">Only use one planned end date for each apprentice. If the apprentice finishes their apprenticeship before or after the planned end date, you should only update the actual end date.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
