{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Set training provider permissions</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Employers can give training providers permission to create cohorts and add apprentices to their apprenticeship service account. They’ll need to approve any information a training provider gives.</p>


          <p class ="govuk-body">The employer will use your UK provider reference number (UKPRN) to add you to their account. They can control what tasks you can do on their behalf and can set, remove or change these permissions at any time.</p>
            <p class="govuk-body">You will not be able to view any other information in their apprenticeship service account.</p>

              <h3 class="govuk-heading-m">Create an apprenticeship service account</h3>
              <p class="govuk-body">Invite an employer to set up an apprenticeship service account if they do not have one. They’ll still need to set your permissions.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
