{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!-- Help banner -->
{% include "includes/help-banner.html" %}

<!-- User banner -->

{% include "includes/user-banner.html" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h1 class="govuk-heading-xl rj-headings-border">Get help</h1>

<!-- Search section -->

<form method="get" action="help-results">

        <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Search for help
            </label>
            <input class="govuk-input" id="search" name="search" type="text">
          </div>


<!-- Button -->
          <!-- <a class="govuk-button" href="help-results">Search</a> -->
          <button type="submit" class="govuk-button">
            Search</button>
          </form>
<!-- Content -->

          <h3 class="govuk-heading-m">
            Ask a question on our forum
          </h3>

          <p class="govuk-body">
            <a href="#">Join the FEconnect forum</a> to ask questions about funding and data issues.
            </p>

            <h3 class="govuk-heading-m">
              Contact us
            </h3>

            <div class="govuk-accordion" data-module="accordion" id="accordion-default">

<!-- Accordion section -->
<div class="accordion" >

        <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Send an email</h2>
          </div>
          <div class="accordion-section-body">
            <!-- Content here -->
            <p class="govuk-body">Email us at <a href="#">support@esfadigital.com</a>.</p>
          </div>

        </div>
        <div class="accordion-section">

          <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Phone us</h2>
          </div>
          <div class="accordion-section-body">
            <!-- content here  -->
            <p class="govuk-body">Telephone: 08000 150 600.</p>
            <p class="govuk-body">Current waiting time: 1 minute.</p>
            <p class="govuk-body">Available 8am to 10pm, 7 days a week.</p>
            <p class="govuk-body"><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

          </div>

        </div>
      </div>

</div>
</div>
</div>



{% endblock %}

{% block pageScripts %}
<script>
  // $(document).ready(function()){
  // console.log("DAVE")
  if (
      'addEventListener' in document &&
      document.querySelectorAll
      ) {
      document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
          new Accordion(accordions[i])
        };
      })
    }
// });
</script>
{% endblock %}
