
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    <a href="#" class="govuk-back-link">Back</a>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Our only apprenticeship service user has left the company - how do we access our account?</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Updated 9 November 2017.</p>

        <p class="govuk-body">You will need to ring us and we will add a new user to your account. You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your account ID number</li>
          <li>the full PAYE scheme of a PAYE that is in the account, and the last YTD submission value; we use this as a security check</li>
          <li>the name and email address of user that left the company</li>
          <li>the name and email address of two new users that you wish to add to your account; we recommend that you add two users to avoid this issue reoccurring</li>
          </ul>

          <h3 class="govuk-heading-m">Phone us</h3>
          <p class="govuk-body">Telephone: 08000 150 600.</p>
          <p class="govuk-body">Current waiting time: 1 minute.</p>
          <h3 class="govuk-heading-s">Opening times</h3>
          <p class="govuk-body">8am to 10pm, 7 days a week.</p>

          <h3 class="govuk-heading-m">Chat with us</h3>
          <p class="govuk-body"><a href="#">Chat live with a support advisor</a>.</p>
          <p class="govuk-body">Current waiting time: 3 minutes.</p>
          <h3 class="govuk-heading-s">Opening times</h3>
          <p class="govuk-body">8am to 10pm, 7 days a week.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
