{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add an apprentice</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Updated 9 November 2017.</p>

        <p class="govuk-body">When a new apprentice joins you need to add them to your organisation.</p>

          <p class="govuk-body">You can <a href="add-apprentice">add apprentices to your organisation</a> using your manage apprentices account. After you sign in, select ‘apprentices’ and then ‘add an apprentice’.</p>
          <p class="govuk-body">To add an apprentice you will need:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the names of your apprentices</li>
            <li>your training provider's UK Provider Reference Number (UKPRN)</li>
            <li>to <a href="#">check the named organisation</a> on the contract with the training provider</li>
            <li>to <a href="#">check the PAYE scheme</a> for each apprentice is in your account</li>
              </ul>

              <h3 class="govuk-heading-m">Add apprentices together</h3>
              <p class="govuk-body">If you need to add more than one apprentice at the same time, you can download and use our template to enter their details. This will allow you to bulk upload your apprentices details.</p>

              <h3 class="govuk-heading-m">Authorise payments to training providers</h3>
              <p class="govuk-body">You can use this service to authorise payments to training providers if you have a signed agreement with ESFA. Only account owners can sign ESFA agreements.</p>    


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
