{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How do I change my English percentage?</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Updated 9 November 2017.</p>

        <p class="govuk-body">You don't need to change your English percentage.</p>

          <p class="govuk-body">HMRC recalculates your English percentage from the information you provide in your pay bill. They base this calculation on how many of your employees live in England and the proportion of your pay bill paid to those employees. HMRC runs this calculation in January, April, July and October each year.</p>
          <p class="govuk-body">To calculate how many of your employees live in England, HMRC uses data it already holds about the home address of your employees. Therefore, it is important that you keep the HMRC informed of any changes in your employees’ home address data.</p>
          <p class="govuk-body">Your latest English percentage will be visible in your apprentice service account.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
