{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Why has my English percentage changed?</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Updated 9 November 2017.</p>

        <p class="govuk-body">HMRC uses information in your payroll to calculate your English percentage. Your English percentage is based on the proportion of your payroll paid to employees that live in England. Typically, changes to your employees’ living circumstances may cause your English percentage to change, such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>if your existing employees move to England from other parts of the UK, your English percentage may increase</li>
          <li>if you take on new employees who live in Scotland, Wales or Northern Ireland, your English percentage may decrease</li>
          </ul>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
