{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply to be an end-point assessment organisation</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">All apprentices doing apprenticeship standards must complete an independent end-point assessment. Only organisations on the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/837688/Register_of_end-point_assessment_organisations__October_2019_.xlsx">register of end-point assessment organisations</a> (MS Excel Spreadsheet, 63KB) can assess apprenticeship standards.</p>

          <p class="govuk-body">The application has 2 stages to check that your organisation can assess standards. It usually takes us 2 weeks to review each stage.</p>
          <p class="govuk-body">Once your organisation has joined the register you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>apply to assess standards</li>
            <li>view your pipeline of assessments</li>
            <li>record assessments and apply for certificates</li>
            </ul>

            <p class="govuk-body">If you need to check the status of your application, <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb">contact us</a>.

              <h3 class="govuk-heading-m">What you'll need</h3>

              <p class="govuk-body">You’ll need to create an account for your organisation. Before you start you must have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>registered with the Information Commissioner’s office</li>
            <li>read the assessment plan for the standard you want to apply for</li>
            <li>been trading for at least 3 months</li>
            <li>read the <a href="https://www.gov.uk/guidance/conditions-for-being-on-the-register-of-end-point-assessment-organisations">conditions for organisations on the register</a></li>
              </ul>
              <p class="govuk-body"><a href="https://assessors.apprenticeships.education.gov.uk/">Apply to join the register</a>.</p>

              <h3 class="govuk-heading-m">Stage 1 - about you and your organisation</h3>
                <p class="govuk-body">You must provide:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>your company number and UK provider reference number (UKPRN) if you have one</li>
                  <li>details of the person(s) with significant control (PSC) over the organisation</li>
                  <li>details if any PSC has any criminal convictions</li>
                  <li>a copy of your organisation’s most recent <a href="https://www.gov.uk/government/publications/esfa-financial-health-assessment">statutory accounts</a> (or management accounts if you’ve been trading for less than a year)</li>
                  </ul>

                  <h3 class="govuk-heading-m">Stage 2 - policies, procedures and evidence of capability</h3>
                  <p class="govuk-body">You cannot start stage 2 before we approve your stage 1 application.</p>
                    <p class="govuk-body">You'll need to tell us:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>when you think you’ll be ready to conduct your first end-point assessment</li>
                      <li>the regions where you can conduct end-point assessments</li>
                      </ul>

                      <h3 class="govuk-heading-m">Documents</h3>
                        <p class="govuk-body">You must upload your:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Information Commissioner’s Office registration</li>
                          <li>internal audit, prevent agenda, conflict of interest, safeguarding, fair access, complaints and appeals policies</li>
                          <li>public liability, professional indemnity and employers liability insurance</li>
                          <li>monitoring procedures and processes</li>
                          <li>consistency assurance for assessing a standard</li>
                          </ul>

                          <h3 class="govuk-heading-m">Evidence</h3>
                            <p class="govuk-body">You'll need to provide 3 years evidence of your organisation's:</p>
                            <ul class="govuk-list govuk-list--bullet">
                              <li>occupational competence for the standards you’re applying for</li>
                              <li>experience of working in the occupational area for the standard you’re applying to assess</li>
                              </ul>

                              <p class="govuk-body">For each assessor you’ll need to include:</p>
                              <ul class="govuk-list govuk-list--bullet">
                                <li>what relevant skills, experience and qualifications they have for the area you’re applying for and the assessments they’ll be doing</li>
                                <li>how you’ll keep their occupational expertise up to date</li>
                                </ul>

                                <h3 class="govuk-heading-m">Final stages</h3>
                                  <p class="govuk-body">During your application we will ask you to agree to the 'conditions of acceptance'. Once your application is successful, we will add your organisation to the register of end-point assessment organisations.</p>
                                  <p class="govuk-body">We publish the register on GOV.UK once a month, so your organisation will show after the next publication.</p>

      </div>

  </main>
</div>




{% endblock %}
