{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply to assess a standard</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">All apprentices doing apprenticeship standards must complete an independent end-point assessment. Only organisations on the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/837688/Register_of_end-point_assessment_organisations__October_2019_.xlsx">register of end-point assessment organisations</a> (MS Excel Spreadsheet, 63KB) can assess apprenticeship standards.</p>
        <p class="govuk-body">Apply for standards or view the status of your application in your apprenticeship assessment service account.</p>

        <h3 class="govuk-heading-m">Join the register</h3>
        <p class="govuk-body">You can <a href="https://assessors.apprenticeships.education.gov.uk/">apply to join the register</a>. You’ll need to create an account for your organisation before you apply.</p>
        <p class="govuk-body">The application is to check that your organisation can assess standards.</p>
        <p class="govuk-body">Once your organisation has joined the register you can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>apply to assess standards</li>
          <li>view your upcoming assessments</li>
          <li>record assessments</li>
          <li>apply for certificates</li>
          <li>manage user permissions</li>
          </ul>

            <h3 class="govuk-heading-m">Application processing time</h3>
            <p class="govuk-body">We aim to let you know if your application was successful within 2 weeks, but it can take longer.</p>

            <h3 class="govuk-heading-m">Change a standard</h3>
            <p class="govuk-body">To change the standard you’re applying for, cancel your application and apply for a new standard.</p>            

      </div>

  </main>
</div>




{% endblock %}
