{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Cancel a certificate</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Contact us if you need to cancel a certificate after you’ve submitted the assessment details.</p>
          <p class="govuk-body">You can call us on 08000 150 600 or email helpdesk@manage.apprenticeships.service.gov.uk. Our opening times are 8am to 8pm, Monday to Friday.</p>

      </div>

      </div>

  </main>
</div>




{% endblock %}
