{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Record an end-point assessment</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">You must record all end-point assessment grades in the <a href="https://assessors.apprenticeships.education.gov.uk/">apprenticeship assessment service</a>. Only record a ‘fail’ if it is defined in the assessment plan.</p>

          <p class="govuk-body">Select ‘record a grade’ within your account. You’ll need to know the date the apprentice achieved or failed their apprenticeship and their:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
            <li>unique learner number (ULN)</li>
            <li>learning option</li>
              </ul>

                <p class="govuk-body">We check the apprentice’s details using information from the training provider’s individualised learner record (ILR). If you cannot find an apprentice, check that the training provider has their correct details.</p>
                <p class="govuk-body">If the training provider has incorrect details, they will need to update the ILR before you can request their certificate.</p>

      </div>

      </div>

  </main>
</div>




{% endblock %}
