{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get a replacement apprenticeship certificate</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">If an apprenticeship certificate is incorrect, damaged or lost during the delivery, you can request a replacement for free. We send replacement certificates to the apprentice’s employer, not to the apprentice.</p>

          <p class="govuk-body">We send new certificates out within 15 days, by recorded delivery. You’ll need to send any damaged or incorrect certificates back to us.</p>

          <p class="govuk-body">Apprenticeship Operations Team</p>
              <p class="govuk-body">Apprenticeship Service</p>
              <p class="govuk-body">Cheylesmore House</p>
                <p class="govuk-body">Quinton Road</p>
                <p class="govuk-body">Coventry</p>
                <p class="govuk-body">CV1 2WT</p>
                <p class="govuk-body">United Kingdom</p>

                <p class="govuk-body"><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb">Contact us</a> to request a free replacement certificate.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
