{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Request an apprenticeship certificate</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Apprenticeship certificates are used to show that an individual has completed their apprenticeship.</p>

          <p class="govuk-body">You can request a certificate once an apprentice has completed all parts of their end-point assessment. The apprentice must give you permission to apply for a certificate on their behalf.</p>
          <p class="govuk-body">You can only request one certificate for each apprenticeship, but can get a replacement apprenticeship certificate if it’s incorrect, damaged or lost during delivery.</p>

              <h3 class="govuk-heading-m">Delivery</h3>
              <p class="govuk-body">After you request a certificate, we’ll review and post it to the apprentice’s employer by recorded delivery within 15 working days. You can check whether you’ve requested a certificate in your account.</p>
                <p class="govuk-body">If you haven’t received a certificate after 15 working days, contact us. You cannot track the delivery.</p>

                <h3 class="govuk-heading-m">Cannot find an apprentice</h3>
                <p class="govuk-body">We check the apprentice’s details you enter using information from the training provider’s individualised learner record (ILR). If you cannot find an apprentice, check that their details are correct with the training provider.</p>
                <p class="govuk-body">You need to check the apprentice's:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>name</li>
                  <li>unique learner number (ULN)</li>
                  <li>completion status (all apprentices must have ‘completed’ their apprenticeship)</li>
                    </ul>

                    <p class="govuk-body">If the details are incorrect, the training provider will need to update the ILR before you can request their certificate.</p>

                <h3 class="govuk-heading-m">Privately funded apprenticeships</h3>
                  <p class="govuk-body">You request certificates or replacement certificates for privately funded apprenticeships in the same way. It can take us longer than 15 working days to issue the certificate, as we need to complete an independent check with the training provider. </p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
