{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Withdraw your organisation</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">Contact us to withdraw from a standard or from the register of end-point assessment organisations.</p>

          <p class="govuk-body">You can call us on 08000 150 600 or email helpdesk@manage.apprenticeships.service.gov.uk. Our opening times are 8am to 8pm, Monday to Friday.</p>

          <h3 class="govuk-heading-m">What you'll need</h3>
          <p class="govuk-body">You'll need to know:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your organisation’s contact details - this includes the end-point assessment organisation number</li>
            <li>the type of change (amendment or withdrawal)</li>
            <li>the date you want to withdraw from the register</li>
              </ul>

                <p class="govuk-body">Your organisation must also carry out an impact assessment before amending or withdrawing from the register. This includes details of:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>how your organisation promoted itself to providers or employers and how you’ll let them know you’re withdrawing</li>
                  <li>any employers that selected your organisation and the contracts or payments</li>
                  <li>any end-point assessments your organisation has delivered</li>
                    </ul>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
