{% extends "layout.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "GOV.UK Prototype Kit",
	      href: "/docs"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apprenticeship helpline</h1>

      <p class="govuk-heading-m">
				Phone
      </p>

			<p class="govuk-body-s">
				This phone number is only for employers and training providers to contact ESFA about the apprenticeships service. You can also <a href="/get-help">email nationalhelpdesk@apprenticeships.gov.uk</a> to ask for a call back.
      </p>

			<p class="govuk-body-s">
				Telephone: 0800 015 0400.
				</p>

				<p class="govuk-body-s">
					Opening times - 8am to 10pm, 7 days a week.
					</p>

			<p class="govuk-body-s"><a href="/contact-esfa">
				Find out about call charges
			</a>.</p>




    </div>


  </div>



{% endblock %}
