
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    <a href="/0-1-0/help-results" class="govuk-back-link">Back</a>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Access your account</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">You cannot access your apprenticeship service account if your company does not have any apprentices. We can create another account so that if an apprentice leaves, you can still access it.</p>
        <p class="govuk-body"><a href="#">Contact us</a> to add team members to your account.</p>
        <p class="govuk-body">You'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your account ID number</li>
          <li>the full PAYE scheme for the account and the last YTD value</li>
          <li>the name and email address of any previous apprentices that had an account</li>
          <li>the name and email address of each apprentice</li>
          </ul>

          <p class="govuk-body">We are available 8am to 10pm, 7 days a week.</p>

          <h3 class="govuk-heading-m">Reset your password</h3>
          <p class="govuk-body">You can <a href="#">reset your password</a> if you forget it.</p>
          <p class="govuk-body">We will send a reset code to the email address on your apprenticeship service account.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
