{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Connect your organisations</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Organisations are connected if they are owned by the same person, or if one organisation owns the other. You should <a href="#">add each connected organisation</a> that will contract with your training providers.</p>

      <div class="govuk-inset-text">Do not add a training provider as a connected organisation.</div>

          <p class="govuk-body">You must sign an agreement for each organisation to allow them to spend funds.</p>



      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
