{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Invite team members to your account</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">You can <a href="#">invite team members</a> to access your apprenticeship service account.</p>

        <p class="govuk-body">There are 3 different levels of access you can give your team members. They can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view information but not make any changes</li>
          <li>add apprentices and view information</li>
          <li>have full access to your account</li>
          </ul>

          <p class="govuk-body">You can change or remove access levels after you invite team members.</p>



      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
