{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Consolidated support prototypes</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Signed in journey</h3>
        <p class="govuk-body"><a href="/0-1-0/home">Version 0-1-0</a></p>
        <p class="govuk-body"><a href="/0-2-0/home">Version 0-2-0</a></p>
        <p class="govuk-body"><a href="/0-3-0/home">Version 0-3-0</a></p>
      </div>

      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Signed out journey</h3>
        <p class="govuk-body"><a href="/0-1-0/add-apprentice">Version 0-1-0</a></p>
        </div>

    </div>



  </main>
</div>




{% endblock %}
