{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add or make changes to an apprentice</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">To <a href="#">add apprentices</a> to your organisation’s apprenticeship service account you’ll need:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the apprentice’s name and date of birth</li>
            <li>the start and end date of the apprenticeship</li>
            <li>the total training and assessment cost</li>
            <li>your training provider’s UK Provider Reference Number (UKPRN)</li>
              </ul>

          <p class ="govuk-body">If you need to add multiple apprentices you can upload their details together.</p>

              <h3 class="govuk-heading-m">Change an apprentice's details</h3>
              <p class="govuk-body">You can change an apprentice’s details if they take a break or stop learning. This will temporarily or permanently stop payments to their training provider.

                <p>Your training provider must also record any changes in their ILR submission.</p>

              <h3 class="govuk-heading-m">Choose a training provider</h3>
              <p class="govuk-body">Each apprentice needs an <a href="#">approved training provider</a> to deliver their training.</p>
              <p class="govuk-body">You can give your training provider permission to add apprentices to your organisation and set up payments. You’ll need to <a href="#">sign an agreement</a> and approve any information they give to us.
</p>

              <h3 class="govuk-heading-m">Contact us</h3>
              <p class="govuk-body">You can contact us by:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>telephone on 0800 015 0600</li>
                <li>email at <a href="#">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
                </ul>

              <p class="govuk-body">We're available 8am to 10pm, 7 days a week.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
