{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apprenticeships</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">An apprenticeship is a job that combines practical training with off-the-job training and study.</p>
        <p class="govuk-body">An apprentice will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>work with experienced staff</li>
          <li>learn job-specific skills</li>
          <li>earn a wage and get holiday pay</li>
          <li>be given time to study (either 20% or one day a week)</li>
            </ul>


              <h3 class="govuk-heading-m">Apprenticeship levels</h3>
              <p class="govuk-body">All apprenticeships lead to industry recognised standards or qualifications. Some apprenticeships have an assessment at the end of the programme to check the apprentice’s ability and skills in their role.</p>


              <h3 class="govuk-heading-m">Wages</h3>
              <p class="govuk-body">The national minimum wage (NMW) for apprentices under the age of 19 or in the first year of their apprenticeship is £3.90 per hour. Apprentices who are at least 25 years old and not in the first year of their apprenticeship are entitled to £8.21 per hour.</p>
              <p class="govuk-body">This is the minimum wage you must pay by law, but most employers pay more.</p>

              <h3 class="govuk-heading-m">Working hours</h3>
              <p class="govuk-body">Most apprentices must work at least 30 hours a week, including at least 20% of their time for off-the-job training. The apprenticeship must be completed within working hours.</p>
              <p class="govuk-body">Your apprentice may work less hours if they have a disability or work as a carer.</p>



              <h3 class="govuk-heading-m">Who can apply</h3>
              <p class="govuk-body">You can become an apprentice if you are at least 16 years old and live in England. </p>
              <p class="govuk-body">Check what role-specific requirements you need when you <a href="#">find an apprenticeship</a>. You can get email and text notifications when a new role is available.</p>
              <p class="govuk-body"><a href="#">View more information</a> about apprenticeships and employers.</p>


              <h3 class="govuk-heading-m">Training providers</h3>
                  <p class="govuk-body">Training providers give off-the-job training, assess progress towards qualifications and offer general support to apprentices. They also work with employers to make sure each apprentice gets:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>an induction programme</li>
                    <li>a training plan (including on-the-job training)</li>
                    <li>regular process reviews</li>
                    <li>opportunities to put training into practice</li>
                    <li>mentoring and support throughout the apprenticeship</li>
                      </ul>

              <p class="govuk-body">The provider, employer and apprentice must confirm that this information is within the apprenticeship agreement commitment statement.</p>

              <h3 class="govuk-heading-m">Get support</h3>
              <p class="govuk-body">You can get financial support if you’re a care leaver aged 16 to 24. This is a £1,000 bursary that you’ll get in the first year of the apprenticeship.</p>
              <p class="govuk-body">If you need help applying for an apprenticeship, you can:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">speak to us using web-chat</a></li>
                <li>email <a href="#">nationalhelpdesk@findapprenticeship.service.gov.uk</a></li>
                <li>call us on 0800 100 900</li>
                </ul>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
