
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
    <a href="/0-1-0/help-results" class="govuk-back-link">Back</a>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Data locks for employers</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<!--Accordion-->

<div class="govuk-accordion" data-module="accordion" id="accordion-with-summary-sections">

<!--Data lock 01-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          Data lock 01
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
      <p class="govuk-body">You and your training provider used a different UK provider reference number (UKPRN).</p>
      <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
      <p class="govuk-body">Check you have the correct UKPRN for your training provider. Either you or your training provider could have used the wrong UKPRN.</p>
      <p class="govuk-body">If your training provider gave the wrong UKPRN, they need to upload their ILR data for this apprentice again with the correct UKPRN.</p>
      <p class="govuk-body">If you gave the wrong UKPRN, you need to <a href="#">stop the commitment</a> back to the start date. You should stop the commitment back to 1 August if it started in a previous academic year.</p>
      <p class="govuk-body">You'll need to <a href="#">contact us</a> so we can add the correct start date, then you can start a new commitment with the correct UKPRN.</p>

      <p class="govuk-body">Contact us if you and your training provider used the correct UKPRN.</p>
    </div>
  </div>

  <!--Data lock 02-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          Data lock 02
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">

      <p class="govuk-body">You and your training provider used a different unique learner number (ULN).</p>
      <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
      <p class="govuk-body">Check if your training provider has approved the commitment. It has not been approved if it’s in the ‘your cohorts’ section of your apprenticeship service account.</p>
      <p class="govuk-body">If your training provider has:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>not approved the commitment, they must change the ULN before they approve it</li>
        <li>approved the commitment, you must stop the commitment and start a new one with the correct ULN</li>
          </ul>
          <p class="govuk-body"><a href="#">Contact us</a> if you and your training provider used the correct ULN.</p>
    </div>
  </div>

  <!--Data lock 03-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Data lock 03
        </span>
      </h2>

    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">

      <p class="govuk-body">You and your training provider used a different standard code.</p>
      <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
      <p class="govuk-body">Check you have the correct standard code with your training provider.</p>
      <p class="govuk-body">If your training provider has:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>not approved the commitment, you can change the standard code on the commitment</li>
        <li>approved the commitment, you need to stop the commitment and start a new one with the correct standard code</li>
          </ul>
          <p class="govuk-body"><a href="#">Contact us</a> if you and your training provider used the correct standard code.</p>

    </div>
  </div>

  <!--Data lock 04-->
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
          Data lock 04
        </span>
      </h2>

    </div>
    <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">

      <p class="govuk-body">You and your training provider used a different framework code.</p>
      <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
      <p class="govuk-body">Check the course description in the commitment matches the framework code.</p>
      <p class="govuk-body">If your training provider has:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>not approved the commitment, you need to change the framework code on the commitment</li>
        <li>approved the commitment, you need to stop the commitment and start a new one with the correct framework code</li>
        </ul>
        <p class="govuk-body"><a href="#">Contact us</a> if you and your training provider used the correct framework code.</p>
    </div>
  </div>

<!--Data lock 05-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 05
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You and your training provider used a different programme type code.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body">Check you have the correct programme type code with your training provider.</p>
    <p class="govuk-body">If your training provider has:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>not approved the commitment, you need to change the programme type code on the commitment</li>
      <li>approved the commitment, you need to stop the commitment and start a new one with the correct programme type code</li>
      </ul>
      <p class="govuk-body"><a href="#">Contact us</a> if you and your training provider used the correct programme type code.</p>


  </div>
</div>

<!--Data lock 06-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 06
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You and your training provider used a different pathway code.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body">Check if your training provider has approved the commitment. It has not been approved if it’s in the ‘your cohorts’ section of your apprenticeship service account.</p>
    <p class="govuk-body">If your training provider has:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>not approved the commitment, you must change the pathway code before they approve it</li>
      <li>approved the commitment, you must stop the commitment and start a new one with the correct pathway code</li>
      </ul>
      <p class="govuk-body"><a href="#">Contact us</a> if you and your training provider used the correct pathway code.</p>

  </div>
</div>
<!--Data lock 07-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 07
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You and your training provider used a different cost of training and assessment.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body">Check with your training provider to find out which cost is wrong. If the ILR cost is wrong your training provider needs to change it.</p>
    <p class="govuk-body">You can change the cost in your apprenticeship service account if it’s wrong. You’ll also need to add any costs that change over the apprenticeship.</p>
    <p class="govuk-body"><a href="#">Contact us</a> if both costs are correct.</p>
  </div>
</div>

<!--Data lock 08-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 08
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body"><a href="#">Contact us</a> to fix this issue. You’ll need the unique learner numbers (ULNs) and UK provider reference numbers (UKPRNs) for all apprentices with a data lock 08.</p>
  </div>
</div>

<!--Data lock 09-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 09
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">The start date for the cost of training and assessment is before the start date in your apprenticeship service account.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body">Check with your training provider to find out which start date is wrong.</p>
    <p class="govuk-body">If the ILR start date is wrong your training provider needs to change it. If the commitment start date is wrong and your training provider has:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>not approved it, you can change it in your apprenticeship service account</li>
      <li>approved it, you must stop the commitment and start a new one with the correct date</li>
        </ul>
        <p class="govuk-body"><a href="#">Contact us</a> if both start dates are correct.</p>
  </div>
</div>

<!--Data lock 10-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 10
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You've stopped payments for this apprentice.</p>
  </div>
</div>

<!--Data lock 11-->
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
        Data lock 11
      </span>
    </h2>

  </div>
  <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
    <p class="govuk-body">You do not pay the levy.</p>
    <p class="govuk-body govuk-!-font-weight-bold">What happens next</p>
    <p class="govuk-body"><a href="#">Contact us</a> if the apprenticeship started after you declared the levy.
  </div>
</div>

<!--Div-->
</div>
      </div>


<!--Contact us panel-->
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
