{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">How does the English percentage affect my levy credit?</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Updated 9 November 2017.</p>

        <p class="govuk-body">HMRC works out the English percentage for each PAYE scheme by dividing the total year-to-date pay bill of employees who live in England by the total year-to-date pay bill of all employees.</p>
        <p class="govuk-body">This example shows how HMRC uses the English percentage to calculate the levy:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>employer declares £1000 as a levy payment to HMRC.</li>
          <li>the employer has an English percentage of 75%.</li>
          </ul>

          <p class="govuk-body">The levy declaration (£1000) is multiplied by the employer’s English percentage (75%), which gives £750. The government tops up that £750 with an additional 10% (£75) to give an overall monthly credit of £825.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/0-1-0/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
