{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Transfer apprenticeship funds</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You can get an account for the apprenticeship service if you're:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a levy paying employer</li>
          <li>an employer receiving a transfer</li>
            </ul>

        <p class ="govuk-body">If you do not pay the levy you can only use your account to receive a transfer.</p>

            <h3 class="govuk-heading-m">Training provider costs</h3>
            <p class="govuk-body">When you take on an apprentice, you agree the total cost with the training provider. The amount could change if there are any changes to the apprenticeship.</p>
            <p class="govuk-body">Your provider can change the apprenticeship start and end dates without your approval, but this will not change the total cost. To make any other changes your provider must send a request to your account.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
