{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Pay and transfer apprenticeship funds</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <p class="govuk-body">You can get an account for the apprenticeship service if you're:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>a levy paying employer</li>
            <li>an employer receiving a transfer</li>
              </ul>

          <p class ="govuk-body">If you do not pay the levy you can only use your account to receive a transfer.</p>

              <h3 class="govuk-heading-m">Training provider costs</h3>
              <p class="govuk-body">When you take on an apprentice, you agree the total cost with the training provider. The amount could change if there are any changes to the apprenticeship.</p>
              <p class="govuk-body">Your provider can change the apprenticeship start and end dates without your approval, but this will not change the total cost. To make any other changes your provider must send a request to your account.</p>

              <h3 class="govuk-heading-m">Transfers</h3>
              <p class="govuk-body">Levy-paying employers can transfer up to 25% of their annual apprenticeship funds to other employers. This can help other businesses or charities pay for their apprenticeships.</p>
              <p class="govuk-body"></p>
              <p class="govuk-body">You can transfer funds to any levy or non-levy paying employer, including apprenticeship training agencies (ATA). You cannot receive a transfer if you’ve already sent one in the same tax year.</p>
              <p class="govuk-body">You can view your transfer allowance in your apprenticeship service account. The amount is calculated using your total declared levy from the previous tax year, with the English percentage and government top-up.</p> 


              <h3 class="govuk-heading-m">Contact us</h3>
              <p class="govuk-body">You can contact our business support centre by:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>telephone on 0800 015 0600</li>
                <li>email at <a href="#">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
                </ul>

              <p class="govuk-body">We're available 8am to 10pm, 7 days a week.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related articles</h3>
        <a href="/contact-pages/apprenticeship-helpline">Contact us</a>

      </div>

  </main>
</div>




{% endblock %}
